<%- include("header"); -%> 

<h1>About</h1>
<p> <%= aboutContent %> </p>
<p>I will keep posting more important posts on my Website for all of you. Please give your support and love.</p>
<span style="color: blue; font-size: 16px; font-weight: bold; text-align: center;">Have a nice day!</span></p>
<%- include("footer"); -%>